results {
	display: block;
	width: 70%;
	float:right;
	box-sizing: border-box;
	padding: 20px;
	height: calc(100vh - 69px);
	overflow: auto;

	h3 {
		color: #999;
		font-size: 20px;
		margin-bottom: 20px;
	}

	h4 {
		font-size: 20px;
		color: #333;
		margin-bottom:5px;
	}

	p {
		color: #999;
		font-size: 14px;
		line-height: 1.3;
		margin-bottom: 20px;
	}

	histogram {
		clear: both;
		display: block;
		width: 100%;
		pointer-events: none;
		margin-bottom: 40px;

		canvas {
			display: block;
			width: 100%;
			max-width: 600px;
			height: 100%;
		}
	}

	save-navigation {
		display: flex;
		padding:0px;
		padding-top: 20px;
		padding-bottom: 20px;
		margin-bottom: 20px;
		border-bottom: 1px solid #CCC;
		border-top: 1px solid #CCC;

		save {
			display: block;
			flex-grow: 1;
			text-align: center;
			background: rgba(255,0,0,0.3);
			color: #FFF;
			padding: 10px;
			margin-right: 10px;
			cursor: pointer;

			&:last-child {
				margin-right:0px;
			}

			&.active {
				background: #cc0b0b;				
			}
		}

		label {
			display: block;
			flex-grow: 2;
			text-align: right;
			padding: 10px;
			margin-right: 10px;
			color: #999;
		}
	}

	.bar-graph {
		display: block;
		width: 50%;
		float: left;
	}

	bar-graph {
		display: block;
		margin-bottom: 40px;

		bar {
			display: block;
			height: 40px;
			position: relative;;
			margin-bottom:5px;

			fill {
				height: 100%;
				display: block;
				border: 1px solid #333;
				z-index: 10;
				box-sizing: border-box;
			}

			rail {
				height: 100%;
				display: block;
				float: right;
				width: calc(100% - 100px);
			}

			label {
				display: block;
				float: left;
				height: 100%;
				color:#FFF;
				width:100px;
				border-top-left-radius: 20px;
				border-bottom-left-radius: 20px;
			
				text-align:right;
				font-size: 16px;
				color: #333;
				padding:13px 10px;
				box-sizing: border-box;
				background: #FFF;
			}
		}
	}
}