results {
	display: block;
	width: 70%;
	float:right;
	box-sizing: border-box;
	padding: 20px;

	histogram {
		display: block;
		width: 100%;
		height: 500px;

		canvas {
			display: block;
			width: 100%;
			height: 100%;
		}
	}
}