node_modules/
temp
*.log
.idea
bundle/
*.lock
.nyc_output/
coverage/
.DS_Store
.vscode
docs/
application/Application.css
application/Application.js
application/project/ui/assets/Application.css
application/project/ui/assets/Application.js
