title {
	display: block;
	background: #333;
	border-bottom: 2px solid #222;
	border-top: 2px solid #222;
	padding: 10px 20px;
	height: 69px;
	box-sizing: border-box;
	position: relative;;

	h1 {
		color: #FFF;
		font-size: 24px;
		margin-bottom: 5px;
	}

	h2 {
		color: #cc0b0b;
		font-size: 16px;		
	}

	h3{
		float:right;
		height: 100%;
		line-height: 100%;
		text-decoration: center;
		border: none;
		color: #FFF;
		font-size: 16px;
		padding: 15px 0px;

	}

	button {
		float:right;
		background: #cc0b0b;
		height: 100%;
		text-decoration: center;
		border: none;
		color: #FFF;
		font-size: 20px;
		padding: 0px 10px;
		margin-left:10px;
		border-radius: 5px;
		width: 85px;

		&.inactive {
			opacity: 0.5;
			pointer-events: none;
		}
	}
}