title {
	display: block;
	background: #333;
	border-bottom: 2px solid #222;
	border-top: 2px solid #222;
	padding: 10px 20px;
	height: 69px;
	box-sizing: border-box;
	position: relative;;

	h1 {
		color: #FFF;
		position: relative;
		top: 12px;
		font-size: 24px;
		margin-bottom: 5px;
	}

	h2 {
		color: #fff;
		font-size: 16px;
		opacity: 0.5;
		position: relative;
		width: 600px;

		a {
			overflow: hidden;
			text-indent: -5000px;
			width: 400px;
			height: 20px;
			background: url(https://relicwargaming.com/templates/images/relic-wargaming-mono.png);
			background-size: contain;
			background-repeat: no-repeat;	
			display: inline-block;
			position: absolute;
			left: 23px;
			top: -2px;
			filter: invert(1);
			
		}		
	}

	h3{
		float:right;
		height: 100%;
		line-height: 100%;
		text-decoration: center;
		border: none;
		color: #FFF;
		font-size: 16px;
		padding: 15px 0px;
		margin-right: 10px;

	}

	button {
		float:right;
		background: #cc0b0b;
		height: 100%;
		text-decoration: center;
		border: none;
		color: #FFF;
		font-size: 20px;
		padding: 0px 10px;
		margin-left:10px;
		border-radius: 5px;
		width: 85px;
		cursor:pointer;

		&.all {
			background: #EEE;
			color: #333;
		}

		&.inactive {
			opacity: 0.5;
			pointer-events: none;
		}
	}
}