unit-loader-item {
	display: block;
	font-size: 20px;
	margin-bottom: 5px;
	background: #EEE;

	&:after {
		display: block;
		content: "";
		clear: both;
	}

	label {
		color: #999;
		text-transform: capitalize;
		display:block;
		float: left;
		padding: 10px;
		width: calc(100% - 65px);
		overflow: hidden;
		text-overflow: ellipsis;
		line-height: 20px;
		cursor:pointer;
	}

	remove {
		display: block;
		float:right;
		width: 40px;
		height: 40px;
		color: #FFF;
		background: #cc0b0b;
		text-align: center;
		line-height: 40px;
		cursor:pointer;
	}
}