unit {
	display: block;
	border-top: 1px solid #CCC;
	margin-top:20px;
	padding-top:20px;

	&.error:before {
		content: "!";
		float: left;
		width: 28px;
		height: 28px;
		margin-right: -28px;
		position: relative;
		z-index: 10;
		background: #cc0b0b;
		color: #FFF;
		text-align: center;
		box-sizing: border-box;
		line-height:26px;
		border-radius: 28px;
		left: 5px;
		top: 5px;
		border: 2px solid #FFF;
	}

	&.error input {		
	}

	swatch {
		display: block;
		width: 38px;
		height: 38px;
		float: left;
	}

	.unit {
		display: block;
	}

	> button {
		display: block;
		background: #cc0b0b;
		width: calc(100% - 40px);
		padding:10px;
		font-size: 16px;
		color: #fff;
		border: none;
		float: right;
		width: 40px;
		margin-bottom: 10px;
	}

	> input {
		display: block;
		padding:10px;
		font-size: 16px;
		border: none;
		float: left;
		width: calc(100% - 198px);
		margin-bottom: 10px;
		margin-right: 5px;
	}

	> input.points {
		width: 60px
	}
}
	