loading {
	font-size:24px;
	padding:80px;
	text-align: center;
	color:#AAA;
	line-height:1.3;
	display: block;
	float:right;
	width:70%;
	box-sizing: border-box;

	&:before {
		content:"";
		display: block;
		width: 200px;
		height: 200px;
		background: url(https://relicwargaming.com/templates/images/relic-wargaming-skull.png) center;
		background-size: contain;
		background-repeat: no-repeat;
		margin: 0 auto;	
		opacity: 0.2;
		margin-bottom: -130px;
		position: relative;
		left: 1px;
	}
}