toggle {
	background: #999;
	color: #CCC;
	display: inline-block;
	padding: 5px;
	padding-bottom: 4px;
	margin-right: 2px;
	min-width: 16px;
	text-align:center;
	cursor: pointer;
	user-select: none;

	&.active {
		background: #0b11cb;
		color: #FFF;
	}
}