sim-config {
	display: block;
	box-sizing: border-box;
	padding: 20px;
	border-right: 1px solid #999;
	height: calc(100vh - 69px);
	width: 30%;
	float: left;
	position: relative;
	overflow: auto;

	h3 {
		color: #999;
		font-size: 20px;
		margin-bottom: 20px;
	}

	description {
		p {
			font-size: 12px;
			line-height: 1.3;
			color: #999;
			margin-bottom: 20px;
		}

		a {
			color: #cc0b0b;
		}

		&.disclaimer {
			margin-top:20px;
			display: block;
			clear: both;
		}
	}

	manage {
		font-size: 12px;
		text-decoration: underline;
		cursor: pointer;
		color: #999;
	}

	> controls > button {
		display: inline-block;
		background: #cc0b0b;
		margin-top: 20px;
		margin-top: bottom;
		padding:10px;
		font-size: 16px;
		color: #fff;
		border: none;
		margin-right: 10px;
	}
}